extends ./infopages.jade

block title
  h1(class="ui header" style="font-size:30px;") Contact

block message 

  p(style="font-size:18") Got suggestions / bugs / feedback? 

  p(style="font-size:18") In-game username: #[span(style="font-weight:bold") Vanila]
