html
  <!-- Created by Roland Zeng. Got suggestions / bugs / feedback? Email rzeng0508@gmail.com-->
  
  <!-- ABOUT! -->
  <!-- LolDecay isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. -->
  head
    title LolDecay
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css")
    
  body
  

    
    <br>
    <br>
    <br>
    <br>
    main(class="ui page grid")
      div(class="row")
        div(class="center aligned starter column")
          <br>
          form(method="post")
            div(class="ui form")
              div(class="ui center aligned grid")
                div(class="row")
                  h1(class="ui header" style="font-size:40px;") LoL Decay
                  <br>
                div(class="row")
                  div(class="grey two wide column")
                    select(class="ui dropdown" name="input_region")
                      option(value="na") NA
                      option(value="euw") EUW
                      option(value="eune") EUNE
                      option(value="kr") KR
                      option(value="br") BR
                      option(value="tr") TR
                      option(value="ru") RU
                      option(value="lan") LAN
                      option(value="las") LAS
                      option(value="oce") OCE
                  div(class="grey four wide column")
                    input(type="text" name="input_summoner" placeholder="Summoner Name")
                  div(class="grey two wide column")
                    button(class="ui button" type="submit") Search
          br
          h2!= o_msg
          br
          div(class="ui center aligned grid")
            div(class="row")
              div(class="two wide column")
                img(src="#{o_img}")
              div(class="left aligned six wide column")
                h2!= o_name
                h3!= o_rank   


      div(class="ui bottom fixed secondary menu" )
          div(class="ui centered grid container")
            div(class="ui secondary menu")
              a(class="item") Changelog
              a(class="item") Contact
              a(class="item") About
              
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js")
  
